<!DOCTYPE html>
<html lang = "e">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/format.css">
</head>

<body>
    <div id = "heading">
        <header id = "banner">
                        <h1>
                            <a class="logo custom-logo align-items-center d-md-inline-flex d-sm-none d-none logo-md" href="/templates/homepage.html" title="Go to my.marist.edu">
                            <img id = "myMarist_logo" alt="my.marist.edu" class="mr-2" height="56" src="/static/Images/myMarist_logo.png"></a>
                        </h1>
        </header>
        <nav id = "nav_menu">
            <ul>
                <li><a href="#">Welcome</a>
                    <ul>
                        <li><a href="#">Accounts & Support</a></li>
                        <li><a href="#">Marist Directory</a></li>
                    </ul>
                </li>
                <li><a href="#">Parents & Guests</a>
                    <ul>
                        <li><a href="#">Student Financial Services</a></li>
                        <li><a href="#">Marist Connect Alumni Community</a></li>
                    </ul>
                </li>
                <li><a href="#">Resources</a>
                    <ul>
                        <li><a href="#">Student Related Forms & Resources</a></li>
                    </ul>
                </li>
                <li><a href="#">Student</a>
                    <ul>
                        <li><a href="#">Accomdations & Accessability</a></li>
                        <li><a href="#">Advising Undergraduate</a></li>
                        <li><a href="#">Emerging Leaders</a></li>
                        <li><a href="#">Health Services</a></li>
                        <li><a href="#">Residential Life</a></li>
                        <li><a href="#">Div. Extended Learning</a></li>
                    </ul>
                </li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Self Service</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    <div id = "announcement">
        <main>
            <section>   
                <h2 id = "announcements_header">
                    myMarist Announcements
                </h2>
                <p>
                    No New Announcements
                </p>
                
            </section>
            <aside id = "calendar">
                <h3>Calendar</h3>
                <div>
                    <p2 id = "event_1">April-May 14th-15th</p2>
                    <aside id = event_1_desc>
                        <h4>
                            Summer Registration Opens
                        </h4>
                        <p1>
                            Time at 10:30AM unitl 11:59PM
                        </p1>
                    </aside>
                </div>
            </aside>
        </main>
    </div>
</body>
</html>

