<!DOCTYPE html>
<html lang = "e">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/format.css">
</head>

<body>
    <div id = "heading">
        <header id = "banner">
                        <h1>
                            <a class="logo custom-logo align-items-center d-md-inline-flex d-sm-none d-none logo-md" href="/templates/homepage.html" title="Go to my.marist.edu">
                            <img id = "myMarist_logo" alt="my.marist.edu" class="mr-2" height="56" src="/static/Images/myMarist_logo.png"></a>
                        </h1>
        </header>
        <nav id = "nav_menu">
            <ul>
                <li><a href="#">Welcome</a>
                    <ul>
                        <li><a href="#">Accounts & Support</a></li>
                        <li><a href="#">Marist Directory</a></li>
                    </ul>
                </li>
                <li><a href="#">Parents & Guests</a>
                    <ul>
                        <li><a href="#">Student Financial Services</a></li>
                        <li><a href="#">Marist Connect Alumni Community</a></li>
                    </ul>
                </li>
                <li><a href="#">Resources</a>
                    <ul>
                        <li><a href="#">Student Related Forms & Resources</a></li>
                    </ul>
                </li>
                <li><a href="#">Student</a>
                    <ul>
                        <li><a href="#">Accomdations & Accessability</a></li>
                        <li><a href="#">Advising Undergraduate</a></li>
                        <li><a href="#">Emerging Leaders</a></li>
                        <li><a href="#">Health Services</a></li>
                        <li><a href="#">Residential Life</a></li>
                        <li><a href="#">Div. Extended Learning</a></li>
                    </ul>
                </li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Self Service</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    <div id = "main_content">
        <main>
            <section>   
                <h2 id = "announcements_header">
                    myMarist Announcements
                </h2>
                <p>
                    No New Announcements
                </p>
                
            </section>
            <aside id = "calendar">
                <h3>Calendar</h3>
                <div>
                    <div id = event_1;>
                        <p2>April-May 14th-15th</p2>
                    </div>
                    <aside id = event_1_desc>
                        <h4>
                            Summer Registration Opens
                        </h4>
                        <p1>
                            Time at 10:30AM unitl 11:59PM
                        </p1>
                    </aside>
                </div>
            </aside>
            <aside>
                <div id = "waffle_menu">
                    <div id = "brightspace_button">
                        <h5>
                            <a href="https://brightspace.marist.edu/d2l/home" title="Go to Brightspace" target="_blank"><img id="brighspace_icon" src="/static/Images/brightspace_icon.png" height="80"></a>
                            <a href="https://degreeworks.marist.edu/worksheets/WEB31" title="Go to Degree Works"><img id="degreeWorks_icon" src="/static/Images/degreeWorks_Icon.png" height="80"></a>
                            <a href="https://library.marist.edu/" title="Go to the Library Homepage" target="_blank"><img id="library_icon" src="/static/Images/library_icon.png" height="80"></a>
                            <a href="https://my.marist.edu/marist-directory" title="Go to the Marist Directory" target="_blank"><img id="maristDirectory_icon" src="/static/Images/maristDirectory_icon.png" height="80"></a>
                            <a href="https://my.marist.edu/post-office" title="Go to Post Office Homepage" target="_blank"><img id="packages_icon" src="/static/Images/packages_icon.png" height="80"></a>
                        </h5>
                        <p3>Brightspace Degree_Works Library Marist_Directory My_Mail</p3>
                    </div>
                </div>
            </aside>
        </main>
    </div>
</body>
</html>

