<!DOCTYPE html>
<html lang = "e">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/format.css">
</head>

<body>
    <div id = "heading">
        <header id = "banner">
                        <h1>
                            <a class="logo custom-logo align-items-center d-md-inline-flex d-sm-none d-none logo-md" href="/" title="Go to my.marist.edu">
                            <img id = "myMarist_logo" alt="my.marist.edu" class="mr-2" height="56" src="/static/Images/myMarist_logo.png"></a>
                        </h1>
        </header>
    </div>
    <div class="login-container"> 
            <div class="login-box">
                <h3>Login</h3>
                <form method="POST">
                    <input type="email" name="Email" required placeholder="Email">
                    <input type="password" name="PWord" required placeholder="Password">
                    <input type="submit" class="btn-primary">
                </form>
            </div>
</body>
</html>

