<!DOCTYPE html>
<html lang = "e">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/format.css">
</head>

<body>
        <div id = "heading">
            <header id="banner">

        <div class="nav-left"></div>

        <div class="nav-center">
            <a href="/">
                <img id="myMarist_logo" src="/static/Images/myMarist_logo.png" height="56">
            </a>
        </div>
            <div class="nav-right">
                {% if not studentid %}
                    <h3><a id="maristlogin" href="/login">Login</a></h3>
                {% else %}
                    <h3><a id="maristlogin" href="/logout">Log Out</a></h3>
                {% endif %}
            </div>

    </header>
        <nav id = "nav_menu">
            <ul>
                <li><a href="#">Welcome</a>
                    <ul>
                        <li><a href="#">Accounts & Support</a></li>
                        <li><a href="#">Marist Directory</a></li>
                    </ul>
                </li>
                <li><a href="#">Parents & Guests</a>
                    <ul>
                        <li><a href="#">Student Financial Services</a></li>
                        <li><a href="#">Marist Connect Alumni Community</a></li>
                    </ul>
                </li>
                <li><a href="#">Resources</a>
                    <ul>
                        <li><a href="#">Student Related Forms & Resources</a></li>
                    </ul>
                </li>
                <li><a href="#">Student</a>
                    <ul>
                        <li><a href="#">Accomdations & Accessability</a></li>
                        <li><a href="#">Advising Undergraduate</a></li>
                        <li><a href="#">Emerging Leaders</a></li>
                        <li><a href="#">Health Services</a></li>
                        <li><a href="#">Residential Life</a></li>
                        <li><a href="#">Div. Extended Learning</a></li>
                    </ul>
                </li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Self Service</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    <div id = "main_content">
        <h4>
            {%if not studentid %}
                <h2>No student Logged in</h2>
            {%else%}
                <h1>{{ studentinfo.fname }} {{ studentinfo.lname }} ({{studentinfo.studentid}})</h1>
                <h2>Degree</h2>
                {% for studentdegrees in studentdegree %}
                    <h4>{{studentdegrees.degreename}}</h4>
                {% endfor %}
                <h2>Minor</h2>
                {% for studentminors in studentminor %}
                    <h4>{{studentminors.minorname}}</h4>
                {% endfor %}
                <h2>Bio</h2>
                <h4> {{studentinfo.level}}</h4>
                <h4>Email: {{studentinfo.email}} | GPA:{{studentinfo.gpa}}</h4>
                <h4>Gender: {{studentinfo.gender}} | Date of Birth: {{studentinfo.dob}}</h4>
                <h2>Advisor</h2>
                {% for studentadvisors in studentadvisor %}
                    <h4>Primary/Major: <a href="mailto:{{studentadvisors.email}}" style="color:red">{{studentadvisors.fname}} {{studentadvisors.lname}}</a></h4> 
                {% endfor %}
            {%endif%}
        </main>
    </div>

</body>
</html>

